body{
  background-color: white;
}
.home {
  background-color: white;
  height: 100vh;
  width: 100%;
}
.jombo {
  height: 360px;
  width: 700px;
  margin: auto 50px;
  background-color: $yellow;
  // animation-name: stretch;
  // animation-duration: 1.5s; 
  // animation-timing-function: ease-out; 
  // animation-delay: 0;
  // animation-direction: alternate;
  // animation-iteration-count: 1;
  // animation-fill-mode: none;
  // animation-play-state: running;
  // padding: 32px;
}

@keyframes stretch {
  0% {
    transform: scale(.3);
    background-color: red;
    border-radius: 100%;
  }
  100% {
    background-color: yellow;
  }
}

.cards {
  margin-top: 160px;
}

.card {
  margin-left: 300px;
  border: none;
}



.gift {
  margin-left: 300px;
  animation: anim-particle 15S linear infinite;
}

@keyframes anim-particle {
  0% { transform: translate( 0, 0 ); }
  20% { transform: translate( 4%, 20vh ); }
  40% { transform: translate( -6%, 40vh ); }
  60% { transform: translate( 6%, 60vh ); }
  80% { transform: translate( -6%, 80vh ); }
  100% { transform: translate( 0%, 100vh ); }
}