

.top {
  display: flex;
  flex-direction: column;
  height: 30vh;
  background-color: $pale;
  justify-content: flex-end;
  align-items: flex-start;
  padding-left: 10%;
    h1{
      font-family: 'Permanent Marker', cursive;
      font-size: 48px;
    }
    h2 {
      font-family: 'Roboto', sans-serif;
    }
}
p {
  font-family: 'Roboto', sans-serif;
}

.card-create {
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  align-items: center;
  border: none;
  h2 {
    // margin-right: 40px;
    text-align: center;
  width: 40%;
  }
}
.card-participate {
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  align-items: center;
  border: none;
}