.banner {
  background-size: cover;
  background-position: center;
  padding: 80px 0;
  width: 900px;
  margin-top: 5%;
  margin-left: 5%;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
}

.banner h1 {
  margin: 0;
  color: $yellow;
  // text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: $yellow;
  opacity: .7;
  // text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  margin-bottom: 60px;
}


.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background:#BEA99D;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: $orange;
  color: white;
}


.btn-flat-inv {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: $orange;
  transition: background 0.3s ease;
}

.btn-flat-inv:hover {
  background: $yellow;
  color: white;
}